.projects-container {
  background: $color-primary-light;
  padding: 14rem;

  .heading-primary {
    padding: 0 9rem;
    margin: 0;
  }

  p {
    padding: 0 9rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
    margin: 0;
    font-family: Maison Neue;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 130%;
  }
}

.showcase {
  margin-left: 2rem;
  margin-right: 3.5rem;

  @include media_query(950px) {
    margin-left: 1.5rem;
    margin-right: 2.5rem;
  }

  @include media_query($small-mobile-breakpoint) {
    margin-left: 1rem;
    margin-right: 1.5rem;
  }

  &__item {
    width: 33.333333%;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.25s;

    &:hover {
      transform: scale(0.95) translateY(-0.5rem);
      filter: brightness(0.8);
    }

    @include media_query(950px) {
      width: 50%;
      padding-left: 1rem;
    }

    @include media_query($small-mobile-breakpoint) {
      width: 100%;
      padding-left: 0.5rem;
    }

    &:hover .showcase__title {
      opacity: 1;
    }
  }

  &__title {
    opacity: 0;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $white;
    position: absolute;
    bottom: -2rem;
    right: 1rem;
    width: 90%;
    transform: skewY(-5deg);
    word-wrap: break-word;
    transition: all 0.25s;
  }

  &__title-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to right,
    rgba(#777, 0.85),
    rgba(#222, 0.85));
  }
}